{% extends "website/index.html" %} {% block title %}Check Out{% endblock title %}
{% block content %}
<section class="mt-10">
  <div class="w-full h-full flex items-center justify-center flex-col gap-10">
    <div class="text-5xl font-bold">Add or fetch details about Guests</div>
    <div class="w-[95%] flex flex-row justify-center gap-4">
      <div class="w-full flex flex-col gap-4">
        <div class="text-2xl font-bold">
          Add details to the Check-Out DataBase
        </div>
        <div class="form-div w-full">
          {% if form1.errors %}
          <div class="text-red-500 mb-4">{{ form1.errors }}</div>
          {% endif %}

          <form method="POST" action="{% url 'guests:checkout' %}">
            {% csrf_token %}

            <div class="flex flex-col border border-white p-4 rounded-2xl">
              <div class="">
                <label for="{{form1.check_in.id_for_label}}">Select Guest:</label>
                {{form1.check_in}}
                {{form1.check_in.errors}}
              </div>
              <div class="">
                <label for="{{form1.checkout_date.id_for_label}}">Check Out Date and Time:</label>
                {{form1.checkout_date}}
                {{form1.checkout_date.errors}}
              </div>
              {% comment %} <div class="">
                <label for="{{form1.no_of_days.id_for_label}}">Number of days of Stay:</label>
                {{form1.no_of_days}}
                {{form1.no_of_days.errors}}
              </div> {% endcomment %}
            </div>

            <button
              type="submit"
              class="cursor-pointer p-1 w-full bg-white hover:bg-gray-100 duration-300 font-medium text-black rounded-xl mt-4"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
      <div class="w-full flex flex-col gap-4">
        <div class="text-2xl font-bold">
          Fetch Details from the Check-Out DataBase
        </div>
        <div class="form-div w-full">
          {% if form.errors %}
          <div class="text-red-500 mb-4">{{ form.errors }}</div>
          {% endif %}
          <form method="GET" action="{% url 'guests:checkout' %}" class="w-full">
            <div class="flex flex-col border border-white p-4 rounded-2xl">
              <label class="text-white font-medium">Aadhaar Card:</label>

              <input
                type="text"
                name="aadhaar_search"
                placeholder="Enter Aadhaar Number"
                class="text-white p-2 rounded"
              />

              {% if guest %}
              <div class="text-white mt-4">
                <h2 class="font-bold text-lg">Guest Details</h2>
                <p><strong>Name:</strong> {{ guest.check_in }}</p>
                <p><strong>Room Type:</strong> {{ guest.no_of_days }}</p>
                <p><strong>Date:</strong> {{ guest.checkout_date }}</p>
                <p><strong>Mobile:</strong> {{ guest.check_in.mobile }}</p>
                <p><strong>Alloted Room:</strong> {{ guest.check_in.alloted_room }}</p>
                <p><strong>Bill:</strong> {{ guest.bill }}</p>
              </div>
              {% endif %}
            </div>

            <div class="flex flex-row gap-1">
              <button
              type="submit"
              class="cursor-pointer p-1 w-1/2 bg-white hover:bg-gray-100 duration-300 font-medium text-black rounded-xl mt-4"
            >
              Search
            </button>
            <button type="submit" class="cursor-pointer p-1 w-1/2 bg-white hover:bg-gray-100 duration-300 font-medium text-black rounded-xl mt-4 {% if not guest %} opacity-50 cursor-not-allowed {% endif %}" onclick = window.location.href = "{% url 'guests:checkout' %}" {% if not guest %} disabled {% endif %}>
              Clear
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
