* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: white;
}

.connector-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background: black;
}
